{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/recherches.css' %}">
{% endblock %}
{% block content %}
    <h1>Page de Recherches</h1>
    <form method="GET">
        <input type="text" name="query" value="{{ query }}" placeholder="Rechercher par username">
        <button type="submit">Rechercher</button>
    </form>
    
    <div class="search-results">
        {% if results %}
            <h2>Résultats pour "{{ query }}" :</h2>
            <div class="results-container">
                {% for user in results %}
                    <div class="user-card">
                        <strong>{{ user.username }}</strong>
                        <p>Nom complet : {{ user.first_name }} {{ user.last_name }}</p>
                        <p>Catégorie : {{ user.category }}</p>
                        <!-- N'affichez pas le mot de passe directement pour des raisons de sécurité -->
                        <!-- Vous pouvez décider de ne pas l'afficher du tout ou de l'afficher d'une manière sécurisée -->
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun résultat pour "{{ query }}"</p>
        {% endif %}
    </div>
{% endblock %}
